{% load static %}

<link rel="icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.webui-popover.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/opensans.css' %}">
